.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 46px;
    width: 100%;
    overflow: hidden;
    color: white;
    background-color: #ee4e34;
    z-index: 1000;
}