@use '../base' as *;

.contact {
    position: relative;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    background: $color-client-2;
    border-radius: 2px;
    border: solid 1px transparent;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    

    .contact_link {
        font-family: $font-base;
        font-weight: 400;
        font-size: $font-size-m;
        text-decoration: none;
        color: $color-black;
        transition: color 0.3s ease-in-out;

        @media screen and (max-width: 50em) {
            font-size: $font-size-base;
            font-weight: $font-bold;
            color: $color-black;
        }
    }
    

    &:hover {
        background: darken($color-client-2, 5%);
        border: solid 1px $color-client-1;
        border-radius: 50px;
        

        .contact_link {
            color: $color-client-1;
            text-shadow: 2px 2px 1px rgba(0,0,0,.225);
        }
      }

      @media screen and (max-width: 50em){
          display: block;
          justify-content: center;
        width: 100px;
        

        .contact_link {
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
           span:first-of-type {
               svg {
                visibility: hidden;
               }
           }
           
        }
    }
}
  