@use '../../styles//base/' as *;

.dropdown_menu {
   position: fixed;
   top: 100px;
   min-width: 200px;
   margin-left: 0;
   min-height: fit-content;
   background-color: $color-bg;
   border: $box-shadow;
   border-radius: 2px;
   overflow: hidden;
   transition: height 500ms;
    z-index: 1000;

 }
 
 .dropdown_menu li {
    background: #080808;
    cursor: pointer;
      
   }
 
 
 .dropdown_menu li:hover {
    background: lighten($color-client-3, 0.05%);
 }
 
 .dropdown_menu.clicked {
    display: none;
 }
 
 .dropdown_link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 16px;

    .link_icon {
       --button-size: calc(60px * 0.5);
       width: 32px;
       height: 32px;
       padding: 0.5rem 0.25rem;
       margin: 2px;
        align-items: center;
        justify-content: center;
        transition: filter 300ms;
      color: $color-client-2;
    }
    .link_title {
       text-transform: uppercase;
       font-size: $font-size-base;
       padding: 5px;
       float: left;
       color: $color-client-1;
    }
 }

 @media screen and (max-width: 960px) {
    
.dropdown_menu {
   position: absolute;
   top: 0;
   min-width: 200px;
   margin-left: 10rem;
 }
 

 }

 @media screen and (max-width: 40em) {
   
.dropdown_menu {
   position: absolute;
   top: 0;
   min-width: 100px;
   margin-left: 8rem;
 }
 .dropdown_link {
   display: block;
   width: 100%;
   height: 100%;
   text-decoration: none;
   padding: 8px;

   .link_icon {
      opacity: 0;
   }

   .link_title {
      text-transform: uppercase;
      font-size: $font-size-s;
      padding: 3px;
      float: left;
      color: $color-client-1;
   }
 }
 }

 

