@use '../../styles//base/' as *;

.dropdown_menu {
   position: fixed;
   top: 100px;
   margin-left: -1.3rem;
   min-width: 200px;
   min-height: fit-content;
   background-color: $color-bg;
   border: $box-shadow;
   border-radius: 2px;
   overflow: hidden;
   transition: height 500ms;
    z-index: 999;

 }
 
 .dropdown_menu li {
    background: #080808;
    cursor: pointer;
      
   }
 
 
 .dropdown_menu li:hover {
    background: lighten($color-client-3, 0.05%);

    a:before {
       opacity: 0;
    }
 }
 
 .dropdown_menu.clicked {
    display: none;
 }
 
 .dropdown_link {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 16px;
    

    .link_icon {
       left: 0;
       top: 2px;
       width: 36px;
       height: 36px;
       padding: 5px;
        transition: filter 300ms;
      color: $color-client-1;
    }
    .link_title {
       text-transform: uppercase;
       font-size: $font-size-base;
       padding: 3px;
       float: left;
       margin-right: auto;
       color: $color-client-1;
    }
 }

 @media screen and (max-width: 960px) {
    
.dropdown_menu {
   position: absolute;
   top: 0;
   min-width: 200px;
   margin-left: 10rem;
 }
 

 }
 @media screen and (max-width: 768px) {
    
.dropdown_menu {   

   .dropdown_link {
     padding: 8px;
   }
   .link_icon {
     display: none;
  }
 }
 .link_title {
   font-size: $font-size-s;
   text-transform: uppercase;
   
   padding: 2px;
   color: $color-client-1;
}

 }

 @media screen and (max-width: 460px) {
   
.dropdown_menu {
   position: absolute;
   top: 0;
   left: 0;
   right: auto;
   min-width: 100px;
   max-width: fit-content;
   /* margin-left: 8rem; */
 }
 .dropdown_link {
   display: flex;
   justify-content: flex-end;
   padding: 8px;

   .link_icon {
      display: none;
   }

   .link_title {
      text-transform: uppercase;
      font-size: $font-size-s;
      padding: 3px;
      color: $color-client-1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
 }
 }

 

