.home_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    width: 100%;
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 2rem;
      padding: 0 2rem;
    }
}