
.logo {
    position: relative;
    display: block;

    svg {
        width: 180px;
        height: 42px;


        @media screen and (min-width: 460px) {
            width: 200px;
        }

        @media screen and (min-width: 768px) {
            width: 240px;
        }
        @media screen and (min-width: 960px) {
            width: 100%;
            height: 46px;
        }
        
    }
}
