@use '../base' as *;
.navbar {
  position: fixed;
  margin: 54px 0 0 0;
  padding: 0;
  width: 100%;
  z-index: 999;
  font-family: $font-base;
  display: block;
  font-size: 1.2rem;
  background-color: rgba(0,0,0,.125);
  border-bottom: 1px solid rgb(185, 185, 185);
  overflow-x: hidden;
  transition: all 0.4s linear;
}


.hide {
  width: 100%;
  z-index: 40;
  border-bottom: 2px solid #ee4e34;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  position: fixed;
  transform: translateY(-54px);
  transition: all 0.4s ease;
}

.bgorange {
  transition: 0.3s ease;
  background-color: #ee4e34;
  border-bottom: 1px solid black;
}

.nav_menu {
  position: relative;
  display: flex;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 46px;
  justify-content: center;
}

.nav_item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
}

.link_icon {
  --button-size: calc(60px * 0.5);
  width: 32px;
  height: 32px;
  padding: 0 0.5rem 0 0;
   align-items: center;
   justify-content: center;
   transition: filter 300ms;
   color: $color-client-1;
}

.nav_icon {
  color: #fff;
}

a .mobile {
  display: none;
}

.menu_icon {
  display: none;
  cursor: pointer;
}

.nav_links {
  font-size: $font-size-base;
  font-weight: 400;
  color: $color-client-1;
  font-family: $font-base;
  text-transform: uppercase;
  position: relative;

  @media screen and (max-width: 1440px){
    font-size: 1rem;
  }
}


.nav_item a:before {
  content: "";
  position: absolute;
  top: 99%;
  bottom: 0;
  /* left: 100%; */
  right: 100%;
  transition: all 0.3s ease-out;
  background: $color-client-3;
  border-radius: 25px;
}
/* 
.nav_item:nth-of-type(1) a:before {
  
  border-radius: 25px;
}
.nav_item:nth-of-type(2) a:before {
  
  border-radius: 25px;
}
.nav_item:nth-of-type(3) a:before {
  
  border-radius: 25px;
}
.nav_item:nth-of-type(4) a:before {
 
  border-radius: 25px;
}
.nav_item:nth-of-type(5) a:before {
  background: $color-client-2;
  border-radius: 25px;
}
.nav_item:nth-of-type(6) a:before {
  background: $color-client-2;
  border-radius: 25px;
}
.nav_item:nth-of-type(7) a:before {
  background: transparent;
  border-radius: 25px;
} */


.nav_item a:hover:before {
  bottom: -3px;
  left: 1.4rem;
  right: 0;
  font-weight: 400;

  >.link_icon {
    color: $color-client-3;
  }
}
.navbar ul li:nth-of-type(6) a:hover:before {
 opacity: 0;
}

.nav_links.contact {
  background: $color-client-2;
  border-radius: 25px;
  font-weight: 800;
  transition: background 0.4s ease-in-out;
  margin: 0 2rem;
}
.nav_links.contact:hover {
  background: $color-client-3;
  color: $color-client-2;
  border-radius: 25px;
}



@media screen and (max-width: 1440px) {
  .nav_menu {
    margin-right: 1rem;
    
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    position: fixed;
    top: 54px;
    right: 0;
    left: auto;
    margin: 0;
    padding: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: none;
    background-color: none;
  }

  
  .menu_icon {
    top: 54px;
    right: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    background-color: rgba(0,0,0,.225);
  }

  .nav_icon {
    color: #fff;
    font-size: 2rem;
    
    
  } 
   

  .nav_menu {
    position: fixed;
    top: 54px;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(110%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 100;
  }

  .nav_menu.active {
    position: fixed;
    top: 54px;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(0);
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #121212;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 100;

    .nav_item:nth-child(1) {
      margin-top: 10rem;
    }
    .nav_item {
      left: 40vw;
    }

    .nav_links {
      
      padding: 1rem 2rem 1rem 0rem;
      border-radius: 2px;
      display: block;
    }

    .nav_links:hover {
      background-color: $color-client-3;
    }
  }
  .nav_item a:before {
   opacity: 0;  
  }
/* 
  .nav_links {
    margin: 2rem auto;
    width: 100%;
    display: block;
  }

  .nav_links:hover {
    background-color: transparent;
    border-radius: 0;
  }

  .navbar ul li a:hover:before {
    bottom: -1px;
    left: 45%;
    right: 45%;
  }
*/
}

@media screen and (max-width: 40em) {
   
  .nav_menu.active {

  
    .nav_item {
      left: 15vw;
    }

    .nav_links {
      font-size: $font-size-s;
      padding: 1rem 2rem 1rem 0rem;
      border-radius: 2px;
      display: block;
    }

    .nav_links:hover {
      background-color: $color-client-3;
    }
  }
  .nav_item a:before {
   opacity: 0;  
  }
}