@use '../base/' as *;

.slider {
    position: relative;
    border: 10solid #000;
    background-color: black;
    min-width: 90vw;
    max-height: 300px;
    padding: 10px;
    cursor: grab;
    overflow: hidden;

    @media screen and (min-width: 460px) {
        max-height: 360px;
    }

   
    @media screen and (min-width: 768px) {
        min-width: 360px;
        max-height: 360px;
        
    }

    @media screen and (min-width: 1185px) {
        min-width: 600px;
        max-height: 400px;
       
    }
    
   
    }
    
    .inner_slider {
        display: flex;
        background-color: black;
        height: 100%;
    }
    
    .slider_item {
        position: relative;
        display: block;
        min-width: 90vw;
        min-height: 320px;
        margin-right: 40px;

        @media screen and (min-width: 768px) {
            max-width: 360px;
            min-width: 320px;
            min-height: 340px;
            
        }

        @media screen and (min-width: 960px) {
            max-width: 420px;
            min-width: 380px;
            min-height: 380px;   
        }
        @media screen and (min-width: 1185px) {
            min-width: 580px;
            max-height: 420px;
           
        }

        
    
        
       
    
        
    .slider_item img{
        pointer-events: none;
        border-radius: 10px;
    }
    
    .slider_title {
    position: absolute;
    top: 50%;
    left: 0%;
    color: white;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 5px 10px;
    font-weight: $font-normal;
    font-size: $font-size-base;
    text-transform: uppercase;
    }

       
        
        a {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                height: 100%;
                width: 100%;
                text-decoration: none;
                z-index: 2;
                


        }
        span {
            position: absolute;
            bottom: 5%;
            right: 2%;
            float: right;
            color: white;
            pointer-events: none;
            padding: 5px 10px;
            background-color: rgba(0, 0, 0, 0.7);
            font-size: $font-size-s;
        }
    }