
.slider {
    background-color: black;
    width: 600px;
    padding: 20px;
    cursor: grab;
    overflow: hidden;
    
    @media screen and (max-width: 460px) {
        width: 100vw;
        height: 280px;
        padding: 10px;
    }
    }
    
    .inner_slider {
        display: flex;
        background-color: black;
    }
    
    .slider_item {
        position: relative;
        display: block;
        min-width: 400px;
        min-height: 340px;
        margin-right: 40px;
    
        @media screen and (max-width: 460px) {
            max-width: 90vw;
            height: 260px;
            
        }
    
        
    .slider_item img{
        pointer-events: none;
        border-radius: 10px;
    }
    
    .slider_title {
    position: absolute;
    top: 5%;
    left: 0%;
    color: white;
    pointer-events: none;
    background-color: black;
    padding: 5px 10px;
    }

    .slider_item_info {
        position: absolute;
        bottom: 10%;
        right: 0%;

        a {
            color: white;
            pointer-events: none;
            padding: 5px 10px;
            background-color: rgba(0, 0, 0, 0.788);
            float: left;
        }
        span {
            float: right;
            color: white;
            pointer-events: none;
            padding: 5px 10px;
            background-color: rgba(0, 0, 0, 0.788);
        }
    }
    }