.top_menu {
    position: relative;
    display: flex;
    width: 100%;
    height: 54px;
    background-color: orangered;
}

.top_menu_logo{
    position: fixed;
    z-index: 10000;
width: 100%;
}

.subtitle {
    color: white;
}

.details {
color: green;
}

.info {
color: red;
}