@use '../base/' as *;
.blog_main {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 10rem;
    height: 100%;

    > header {
      display: grid;
      place-content: center;
      margin: 56px auto 3rem;
      width: 100%;
      max-height: 400px;
      min-height: 200px;
      padding: 2rem 10%;
      background-color: $color-client-2;
     

      @media screen and (min-width: 960px) {
        margin: 100px auto 5rem;
          text-align: center;
      }

      h1 {
          font-size: 2rem;
          color: $color-client-1;
          margin-bottom: 1rem;

          @media screen and (min-width: 1185px) {
              font-size: 6rem;
          }
      }

      h2 {
          color: $color-client-3;
          font-size: $font-size-m;
          @media screen and (min-width: 1185px) {
              font-size: $font-size-ml;
          }
      }
  }

  h1 {
    color: $color-client-2;
  }

    .blog_wrapper {
        padding: 10rem 0 0;
        h1 {
          text-align: center;
          padding: 2rem 0;
          border-bottom: 1px solid #888;
          border-top: 1px solid #888;
          background-color: white;
          margin: 0.5rem 0;
    
          @media screen and (min-width: 1024) {
            text-align: left;
          }
        }
    }

    .post_card {
      position: relative;
      border-bottom: 1px solid #888;
      padding: 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      &:last-of-type {
        border-bottom: none;
      }
      h2 {
        font-size: 1rem;
        color: var(--color-text-secondary);
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        text-decoration: none;

        
      }

      span {
        color: var(--color-text-primary);
      }
    }
}

