@use '../base/' as *;

.info_container {
    display: block;
    align-self: center;
    text-align: left;
    color: $color-client-1;
    font-family: $font-base;

    h1 {
       color: $color-client-1;
       padding: 1rem 0;
    }

    h2 {
        font-weight: 400;
        padding: 1rem 0;
    }
}

.left_container {


    p {
        color: $color-client-1;
    }
}