@use '../base/' as *;
.home_main {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-base;
    overflow-x: hidden;
    font-family: $font-base;

    @media screen and (max-width: 680px) {
      margin: 0 auto;
    }

}

.home_wrapper {
    width: 100%;
    margin: 0 auto 10rem;
    height: 100%;

h2 {
  color: $color-client-1;
}

    .section {
      margin: 0 auto;
      padding: 1rem 0;
      width: 90%;
      overflow-x: hidden;

      h1 {
        padding: 0.5rem 0;
        color: $color-client-1;
      }

      h2 {
        padding: 0.5rem 0;
        color: $color-client-2;
      }

      h3 {
        font-size: $font-size-m;
      }

      p {
        font-size: $font-size-base;
        line-height: 1.4rem;
      }

      h3, p {
        color: $color-client-1;
      }

      a {
        text-decoration: none;
        padding: 0 0.5rem;
      }

      .icons {
        margin: 0 auto;
        width: 80%;
        background-color: $color-client-1;
        height: 42px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        transition: background-color 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);

        .icon {
          width: 32px;
          height: 32px;
          color: #1877f2;
        }

        &:hover {
          background-color: #1877f2;

          .icon {
            color: $color-client-1;
          }
        }
      }

    }

    .posts {
      width: 100%;
      background: linear-gradient(to left, rgb(20, 20, 20), rgb(36, 36, 36));

      h2 {
        color: $color-client-1;
        font-weight: $font-normal;
        border-bottom: 1px solid #888;
        padding: 0.5rem 0;
      }
    }
    
  

  }

  
.image {
  position: relative;
  display: block;
  border-radius: 0;
      min-width: 90%;
      min-height: 300px;
      max-width: 100%;
      padding: 2rem;

      @media screen and (min-width: 768px) {
          margin: 0 auto;
          min-height: 460px;
          max-width: 460px;
      }
      @media screen and (min-width: 960px) {
          margin: 0 auto;
          min-height: 600px;
          max-width: 560px;
      }

      @media screen and (min-width: 1440px) {
          margin: 0 auto;
          min-height: 100%;
          max-width: 680px;
          min-width: 560px;
      }
}



