@use '../base/' as *;
.home_main {
  position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-base;

    @media screen and (max-width: 680px) {
      margin: 0 auto;
    }

}

.home_section {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;

    @media screen and (max-width: 680px) {
      height: 100%;
      flex-direction: column;
    }

    .section {
      width: 100%;
      overflow-x: hidden;

      .swipe {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    


.blog_section {
  box-sizing: border-box;
    width: 50%;
    padding: 2rem;
    @media screen and (max-width: 680px) {
      margin: 0 auto;
      width: 100%;
      flex-direction: column;
      padding: 0;
    }
    

    p {
      color: white;
      @media screen and (max-width: 680px) {
        text-align: center;
      }
    }
    h1 {
     margin: 1rem auto;
     color: $color-client-1;
    /*  font-size: 3.5rem; */
     text-align: center;
     text-transform: uppercase;
     text-shadow: 2px 2px 1px black;
    
     @media screen and (max-width: 680px) {
       /* font-size: 1.6rem; */
       padding: 0.25rem 0.5rem;
     }
    
    }
    
    h3 {
     color: $color-client-1;
     font-weight: 400;
     margin: 2rem auto;
    }
    
    .blog_row_title {
     color: $color-client-1;
     text-transform: lowercase;
     letter-spacing: 2px;
     align-self: flex-start;
     margin-bottom: 2rem;
     border-bottom: #888 1px solid;

     &::first-letter {
      text-transform: capitalize;
     }

     @media screen and (max-width: 768px) {
      padding-left: 2rem;
     }
    }

}    


  .home_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 2rem;
  }
  .post_card {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          box-sizing: border-box;
          padding: 2rem;
          width: 100%;
          max-width: 25rem;
          height: 100%;
          max-height: 20rem;
          margin: 0;
          cursor: pointer;
          background: $color-card-bg;
          border: 1px solid #888;

          @media screen and (max-width: 680px) {
            margin: 0 auto;
            width: 100%;
            flex-direction: column;
            
          }
          
  
    &:hover {
        background: rgba(10, 10, 10, 0.712);
    }

    .post_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0.7;
      z-index: 1;

    }
    
    a {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      text-decoration: none;
      z-index: 2;
    }
    h4 {
      margin: 0;
      margin-bottom: 20px;
      color: $color-client-1;
      text-align: left;
      font-weight: $font-normal;
      text-shadow: 1px 1px 1px black;
      text-transform: uppercase;
      z-index: 2;
    }
    span {
      color: $color-client-1;
      border-radius: 0;
      width: 80%;
      text-align: left;
      z-index: 2;
      height: 100%;
      width: 100%;
}
  }
  }

  .blog_info {
    margin: 1rem 0;
  }

  .content_section {
    width: 50%;
   
    padding: 2rem 3rem;

    @media screen and (max-width: 680px) {
      margin: 0 auto;
      max-width: 100%;
      width: 90%;
      flex-direction: column;
      padding: 0;
    }
    

    .home_article {
        position: relative;
        margin: 0rem auto 10rem;
        max-width: 1000px;
        font-family: $font-base;

        @media screen and (max-width: 680px) {
          margin: 2rem auto 10rem;
          width: 100%;
          flex-direction: column;
        }
      
        
        h1 {
          margin: 1rem auto;
          color: $color-client-1;
         /*  font-size: 3.5rem; */
          text-align: center;
          text-transform: uppercase;
          text-shadow: 2px 2px 1px black;
         
          @media screen and (max-width: 680px) {
            /* font-size: 1.6rem; */
            padding: 0.25rem 0.5rem;
          }
         
         }
      
        h3 {
          font-size: 1.5rem;
          color: $color-client-1;
          font-weight: 400;

        }
      
        p {
          color: $color-client-1;
        }

        @media screen and (max-width: 960px) {
            position: relative;
            
        }
        @media screen and (max-width: 40em) {
            position: relative;
           
            h2 {
              font-size: 1.6rem;
              padding: 5rem 0 3rem;
              color: #fff;
            }
          
            h3 {
              font-size: $font-size-base;
              
            }
        }
      }
}
}


