@use '../base' as *;
.hof {
  display: flex;
  margin-top: 8rem;
  width: 100vw;
  height: 100%;
    
    font-family: $font-base;
    line-height: 1.5;

    #main_doc {
      position: relative;
      display: flex;
      flex-direction: column;
      left: 15vw;
      
      background-color: $color-bg;
      color: $color-client-1;
      width: 85vw;
      min-height: 100vh;
      height: 100%;
    }
    
    .hof_title {
      font-size: $font-size-xxl;
      font-family: $font-alt;
      font-weight: $font-bold;
      text-align: center;
      text-shadow: 0px 6px 6px rgba(0,0,0,0.335);
      margin: 4rem 0;
      text-transform: uppercase;
      color: var(--color-text-secondary);
    }
  }
     

      
      
      @media only screen and (max-width: 960px) {
        .hof {
          margin-top: 4rem;
          
          .hof_title {
            font-size: 3rem;
            margin: 2rem auto;
            text-align: center;
            width: 100%;
          }
          #main_doc {
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            margin-left: 0px;
            margin-top: 8rem;
          }
        }

    }


      @media only screen and (max-width: 460px) {
        .hof {
          .hof_title {
            font-size: 2rem;
            padding: 1rem;
            margin: 2rem auto;
            text-align: center;
            width: 100%;
          }
          #main_doc {
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            margin-left: 0px;
            margin-top: 10rem;
          }
    }
  }
