/* .navbar {
display: block;
width: 100%;
background-color: var(--bg-nav);
padding: 0 1rem;
font-family: var(--font);
position: fixed;
top: 0;
left: 0;
z-index: 100;
padding: 1rem;
} */

.navbar_nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_item {
   /*  width: calc(var(--nav-size) * 0.8); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.nav_item:hover {
    background: var(--color-text-secondary);
    border-radius: 5px;
}

.nav_item a {
    color: var(--color-text-primary);
}


.link_icon {
    --button-size: calc(var(--nav-size) * 0.5);
    width: 32px;
    height: 32px;
     align-items: center;
     justify-content: center;
     transition: filter 300ms;
     cursor: pointer;
}


.drop_icon {
    --button-size: calc(var(--nav-size) * 0.5);
    width: 32px;
    height: 32px;
    padding: 0.5rem 0.25rem;
    margin: 0 2px;
     align-items: center;
     justify-content: center;
     transition: filter 300ms;
}


.drop_icon_right {
    width: 32px;
    height: 32px;
    padding: 0.5rem 0.25rem;
    margin-left: auto;
}
 

.link_title {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin: 0 2px;
    color: var(--text-color);
}

.drop_icon:hover {
    filter: brightness(1.4);
}

.dropdown {
    position: absolute;
    top: 60px;
    min-width: 300px;
    margin-left: 20rem;
    min-height: fit-content;
    background-color: var(--bg);
    transform: translateX(-45%);
    border: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 2rem;
    overflow: hidden;
    transition: height var(--speed);
}

.menu {
    width: 100%;
    background-color: var(--color-text-secondary);
}

.menu > .menu-item > h2 {
    font-size: 1rem;
    font-weight: 100;
    padding-left: 2px;
}

.menu_item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 1rem;
}

.menu_item .link_icon:hover,
    .menu_item .drop_icon:hover {
    filter: none;
}

.menu_item:hover {
    background-color: #121212;
}


/* Menu for css transitiongroup  drowpdown */

.menu_primary-enter {
    position: absolute;
    transform: translateX(-110%);
    
}
.menu_primary_enter_active {
    transform: translateX(0%);
    transition: all var(--speed) ease;

}
.menu_primary_exit {
    position: absolute;
}
.menu_primary_exit_active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;

}

.menu_secondary_enter {
    position: absolute;
    transform: translateX(110%);
    
}
.menu_secondary_enter_active {
    transform: translateX(0%);
    transition: all var(--speed) ease;

}
.menu_secondary_exit {

}
.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;

}

@media screen and (max-width: 50em) {

    .navbar {
        width: 100%;
    }
    .navbar_nav {
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }
    .nav_item {
        margin: 0;
        padding: 0 1rem;
    }
    .link_icon {
        padding: 0.5rem 0.25rem;
    }

    .link_title {
        padding: 1px;
        font-size: 0.8rem;
    }


    .menu {
        margin-left: 2rem;
    }
}