// colors client
$color-client-1:#FDFDFD;
$color-client-2: #ff6e40;
$color-client-3: #282828;

$color-black: #000;
$color-white: #fff;

$color-bg: #121212;

// dimmed
$color-dimmed: #888;

// color scrollbar
$color-scrollbar-bg: color-client-2;
$color-li-arrow: #61505A;

$box-shadow: rgba(0,0,0,0.335);

// cards
$color-card-bg: #000;

// svg colors
$color-lockerlegends-yellow: #ffc13b;
$color-lockerlegends-orange: #ff6e40;
$color-lockerlegends-dodgers-blue: #005A9C;
$color-lockerlegends-dodgers-red: #EF3E42;
$color-lockerlegends-dodgers-gray: #A5ACAF;