// colors client
$color-client-1:#FDFDFD;
$color-client-2: #ee4e34;
$color-client-3: #282828;

$color-bg: rgb(14, 14, 14);

// dimmed
$color-dimmed: #888;

// color scrollbar
$color-scrollbar-bg: color-client-2;
$color-li-arrow: #61505A;

$box-shadow: rgba(0,0,0,0.335);

// cards
$color-card-bg: #000;

// svg colors
$color-lockerlegends-yellow: #F2F435;
$color-lockerlegends-orange: #EE4E34;
$color-lockerlegends-dodgers-blue: #005A9C;
$color-lockerlegends-dodgers-red: #EF3E42;
$color-lockerlegends-dodgers-gray: #A5ACAF;