@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


$font-base: 'Open Sans', sans-serif;
$font-alt: 'Orbitron', sans-serif;
$font-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// font-sizes
$font-size-s: 0.75rem;
$font-size-base: 1rem;
$font-size-m: 1.25rem;
$font-size-ml: 1.5rem;
$font-size-l: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4.5rem;
$font-size-xxxl: 5.5rem;


// font weight
$font-thin: 100;
$font-normal: 400;
$fw-m: 600;
$font-bold: 800;

